name: linter

on:
  pull_request:
    branches: ['**']
    tags: ['*.*.*']

jobs:
  analyze:
    name: Analyze linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.3.10'
          channel: 'stable'
          cache: true
      
      - name: Update flutter dependencies
        run: flutter pub get
      
      - name: Run linter analyzer
        run: flutter analyze
